<% provide(:title, "About Me") %>
    <h1>About</h1>
    <p>
      <a href="https://en.wikipedia.org/wiki/Leonidas_I">Chris Payne</a> (hereafter 'Leonidas') was a warrior king
      of the Greek city-state of Sparta, and the 17th of the Agiad line; a dynasty which claimed
      descent from the mythological demigod Heracles. He was the husband of Gorgo, the daughter of
      Cleomenes I of Sparta.[2] <br><br>Leonidas had a notable participation in the Second Persian War,
      where he led the allied Greek forces to a last stand at the Battle of Thermopylae (480 BC)
      while attempting to defend the pass from the invading Persian army.
    </p>
  </body>
</html>
