<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>The Chris Payne Experience</h1>

  <h2>
    Ruby on Railsを使ったウェブ・アプリケーションのHPでございます。どうぞお試しください。
  </h2>
  <% unless current_user.present? %>
    <%= link_to "今すぐ登録", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
